@page
@model EasyApplyDesktopApp.Pages.NaukriDetailsCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NaukriJobDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.URL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.URL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.DataJobId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.DataJobId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Ratings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Ratings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Reviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Reviews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.Job_Post_History)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.Job_Post_History)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.AppliedStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.AppliedStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaukriJobDetail.AppliedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaukriJobDetail.AppliedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NaukriJobDetail.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
